---
layout: raw_page
---

{% if page.github or page.sends or page.receives or page.assigned %}
  <div class="mdl-card__supporting-text mdl-card--border">
    {% if page.github %}
      <p style="font-size: large;" class="mdl-card__subtitle-text">
        <i style="color:black;" class="fab fa-github"></i>
        <a href="https://github.com/{{ page.github }}">{{ page.github }}</a>
      </p>
    {% endif %}
    {% if page.assigned %}
      {% assign contributor = site.data.contributors[page.assigned] %}
      <p class="mdl-card__subtitle-text contributor-info">
        Assigned: {{ contributor.name }}
        {% if contributor.github %}
          <a href="https://github.com/{{ contributor.github }}"><i class="fab fa-github"></i></a>
        {%- endif -%}
        {% if contributor.email %}
          <a href="mailto:{{ contributor.email }}"><i class="fa fa-envelope"></i></a>
        {%- endif -%}
        {% if contributor.slack %}
          <a href="https://aianatomy.slack.com/team/{{ contributor.slack }}"><i class="fab fa-slack"></i></a>
        {%- endif -%}
      </p>
    {% endif %}
    {% if page.sends %}
      <h3>Sends</h3>
      <ul>
        {% assign topics = page.sends | sort %}
        {% for topic in topics %}
          <li><a href="{{ '/topics.html' | relative_url }}#{{ topic | replace: '.', '-' }}">{{ topic }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if page.receives %}
      <h3>Receives</h3>
      <ul>
        {% assign topics = page.receives | sort %}
        {% for topic in topics %}
          <li><a href="{{ '/topics.html' | relative_url }}#{{ topic | replace: '.', '-' }}">{{ topic }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
<div class="mdl-card__supporting-text">
  {% if page.toc %}
    <h3>Table of Contents</h3>
  {% endif %}
  {{ content | toc }}
</div>