---
layout: default
---
<div class="mdl-grid page-container">
  <div class="mdl-card mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title--text">
        {{ page.title }}
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% if page.github %}
        <p style="font-size: large;" class="mdl-card__subtitle-text">
          <i style="color:black;" class="fab fa-github"></i>
          <a href="https://github.com/{{ page.github }}">{{ page.github }}</a>
        </p>
      {% endif %}
    </div>
    <div class="mdl-card__supporting-text">
      {{ content | toc }}
    </div>
  </div>
</div>