---
layout: raw_page
---

{% if page.github %}
    <div class="mdl-card__supporting-text mdl-card--border">
        <p style="font-size: large;" class="mdl-card__subtitle-text">
            <i style="color:black;" class="fab fa-github"></i>
            <a href="https://github.com/{{ page.github }}">{{ page.github }}</a>
        </p>
    </div>
{% endif %}

{% assign topics = page.topics | sort %}

<div class="mdl-card__supporting-text mdl-card--border">
    {{ content }}
    <ul>
        {% for topic in topics %}
            <li><a href="#{{ topic[0] | replace: '.', '-' }}">{{ topic[0] }}</a></li>
        {% endfor %}
    </ul>
</div>

{% for topic in topics %}
    <div class="mdl-card__supporting-text mdl-card--border topic-container">
        <h3 id="{{ topic[0] | replace: '.', '-' }}">{{ topic[0] }}</h3>
        <p>{{ topic[1].description | markdownify }}</p>

        <h4>Payload</h4>
        <ul>
            {% for element in topic[1].payload %}
                <li><strong>{{ element[0] }}</strong> ({{ element[1].type }}): {{ element[1].description | markdownify }}</li>
            {% endfor %}
        </ul>

        <h4>Example</h4>
        <div class="language-json highlighter-rouge">
            <div class="highlight">
                <pre class="highlight">
<code>{
    {%- for element in topic[1].payload %}
        {%- if element[1].type == "string" %}
    "{{ element[0] }}": "{{ element[1].example }}"
        {%- else %}
    "{{ element[0] }}": {{ element[1].example }}
        {%- endif -%}
        {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor %}
}</code>
                </pre>
            </div>
        </div>
        

        <h4>Sender</h4>
        <ul>
            {% for page in site.pages %}
                {% if page.sends contains topic[0] %}
                    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4>Receivers</h4>
        <ul>
            {% for page in site.pages %}
                {% if page.receives contains topic[0] %}
                    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}