---
layout: raw_page
---

{% if page.github %}
    <div class="mdl-card__supporting-text mdl-card--border">
        <p style="font-size: large;" class="mdl-card__subtitle-text">
            <i style="color:black;" class="fab fa-github"></i>
            <a href="https://github.com/{{ page.github }}">{{ page.github }}</a>
        </p>
    </div>
{% endif %}

{% assign topics = site.data.topics | sort %}

<div class="mdl-card__supporting-text mdl-card--border">
    {{ content }}
    <ul>
        {% for topic in topics %}
            <li><a href="#{{ topic[0] | replace: '.', '-' }}">{{ topic[0] }}</a></li>
        {% endfor %}
    </ul>
</div>

{% for topic in topics %}
    <div class="mdl-card__supporting-text mdl-card--border topic-container">
        {{ topic[1] | markdownify }}

        <h4>Sender</h4>
        <ul>
            {% for page in site.pages %}
                {% if page.sends contains topic[0] %}
                    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4>Receivers</h4>
        <ul>
            {% for page in site.pages %}
                {% if page.receives contains topic[0] %}
                    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}
